{% extends 'base.html.twig' %}

{% block title %}Nueva Receta{% endblock %}



{% block body %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="mb-4">Crear nueva receta</h1>
            <div class="card shadow-sm">
                <div class="card-body">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} mt-3">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% if receta.imagen %}
                        <img src="{{ asset('assets/fotorecetas/' ~ receta.imagen) }}" alt="Foto de la receta" class="img-fluid mb-3">
                    {% endif %}
                    {{ form_start(form) }}
                        {{ form_row(form.nombre) }}
                        {{ form_row(form.explicacion) }}
                        {{ form_row(form.tiempo) }}
                        {{ form_row(form.calorias) }}
                        {{ form_row(form.dificultad) }}

                        <h5>Ingredientes</h5>
                        <div id="receta_ingredientes"
                             data-prototype="{{ form_widget(form.recetaIngredientes.vars.prototype)|e('html_attr') }}">
                            {{ form_widget(form.recetaIngredientes) }}
                        </div>
                        <button type="button" class="btn btn-info mt-2" id="add-ingrediente">Añadir ingrediente</button>

                        {{ form_row(form.imagen) }}

                        <button class="btn btn-success mt-3">Guardar</button>
                    {{ form_end(form) }}
                    <a href="{{ path('gestion_recetas') }}" class="btn btn-secondary mt-3">Volver al listado</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var collectionHolder = document.getElementById('receta_ingredientes');
    var addButton = document.getElementById('add-ingrediente');
    var index = collectionHolder.children.length;

    addButton.addEventListener('click', function() {
        var prototype = collectionHolder.dataset.prototype;
        var newForm = prototype.replace(/__name__/g, index);
        var div = document.createElement('div');
        div.innerHTML = newForm;
        collectionHolder.appendChild(div);
        index++;
    });
});
</script>
{% endblock %}