{% extends 'base.html.twig' %}

{% block title %}Detalle del Usuario{% endblock %}

{% block body %}
<h1>Detalle del Usuario</h1>
<ul>
    <li><strong>ID:</strong> {{ usuario.id }}</li>
    <li><strong>Nombre:</strong> {{ usuario.nombre }}</li>
    <li><strong>Email:</strong> {{ usuario.email }}</li>
    <li><strong>Password:</strong> {{ usuario.password }}</li>
    <li><strong>Rol:</strong> {{ usuario.rol }}</li>
</ul>
<a href="{{ path('gestion_usuarios') }}" class="btn btn-secondary">Volver al listado</a>
{% endblock %}